x-logging: &logging
  logging:
    driver: json-file
    options:
      max-size: 10m
      max-file: "3"

services:
  solana:
    container_name: solana
    image: neonlabsorg/evm_loader:${NEON_EVM_COMMIT}
    environment:
      SOLANA_URL: http://127.0.0.1:8899
    hostname: solana
    networks:
      - net
    expose:
      - 8899
      - 8900
    ports:
      - 8899:8899
      - 8900:8900
    healthcheck:
      # Must be available from outside (calling without -u causes premature result)
      test: [ CMD-SHELL, "./wait-for-neon.sh" ]
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 5s
    entrypoint: /opt/solana-run-neon.sh

  solana-create-test-accounts:
    container_name: solana-create-test-accounts
    image: neonlabsorg/evm_loader:${NEON_EVM_COMMIT}
    entrypoint: "/bin/bash"
    command: -c 'set -xu; keys=($$(ls /opt/docker/operator/*.json)); solana config set -u http://solana:8899; for keypair in "$${keys[@]}"; do solana airdrop 5000 $$(solana address -k $$keypair); done'
    volumes:
      - ${NEON_OPERATOR_KEYS_PATH}:/opt/docker/operator
    networks:
      - net
    depends_on:
      solana:
        condition: service_healthy

  postgres:
    container_name: postgres
    image: postgres:15.3
    command: postgres -c 'max_connections=1000'
    environment:
      POSTGRES_DB: neon-db
      POSTGRES_USER: neon-proxy
      POSTGRES_PASSWORD: neon-proxy-pass
    hostname: postgres
    healthcheck:
      test: [ CMD-SHELL, "pg_isready -h postgres -p 5432" ]
      interval: 3s
      timeout: 3s
      retries: 10
      start_period: 5s
    expose:
      - "5432"
    ports:
      - 5432:5432
    networks:
      - net

  db_migration:
    image: ${DOCKERHUB_ORG_NAME}/${NEON_PROXY_REPO_NAME}:${NEON_PROXY_TAG}
    container_name: db_migration
    entrypoint: /usr/bin/psql
    command: >-
      -W
      -h postgres
      -p 5432
      -U neon-proxy
      -d neon-db
      -f /opt/data/schemas/scheme.sql
    environment:
      - PGPASSWORD=neon-proxy-pass
    networks:
      - net
    depends_on:
      postgres:
        condition: service_healthy
    <<: *logging

  neon-proxy:
    image: ${DOCKERHUB_ORG_NAME}/${NEON_PROXY_REPO_NAME}:${NEON_PROXY_TAG}
    container_name: neon-proxy
    restart: "no"
    entrypoint: ./proxy
    command: >-
      ${NEON_EVM_ADDRESS}
      -u http://solana:8899
      -l 0.0.0.0:8018
      --pg-url postgres://neon-proxy:neon-proxy-pass@postgres:5432/neon-db
      -c BMp6gEnveANdvSvspESJUrNczuHz1GF5UQKjVLCkAZih
      --chain-id 111
      --log-format json
      --operator-keypair-path /opt/docker/operator
      --simulation-commitment ${SIMULATION_COMMITMENT}
      --pyth-solana-url ${PYTH_MAINNET_SOLANA_URL}
      --solana-ws-url ${SOLANA_MAINNET_WS_URL}
      --pyth-mapping-addr AHtgzX45WTKfkPG53L6WYhGEXwQkN1BVknET3sVsLL8J
      --init-operator-balance
      --init-holders
    environment:
      - RUST_LOG=info,indexer=debug,solana_api=debug,db=debug,parse=debug,proxy=debug,mempool=debug,executor=debug,neon_api=debug,solana_rpc_client=debug
      - RUST_BACKTRACE=full
    volumes:
      - ${NEON_OPERATOR_KEYS_PATH}:/opt/docker/operator
    depends_on:
      - neon-indexer
    ports:
      - 8018:8018
    expose:
      - 8018
    networks:
      - net
    <<: *logging

  neon-indexer:
    image: ${DOCKERHUB_ORG_NAME}/${NEON_PROXY_REPO_NAME}:${NEON_PROXY_TAG}
    container_name: neon-indexer
    restart: "no"
    entrypoint: ./indexer
    command: >-
      ${NEON_EVM_ADDRESS}
      -u http://solana:8899
      --pg-url postgres://neon-proxy:neon-proxy-pass@postgres:5432/neon-db
      --metrics-addr 0.0.0.0:8317
      --confirmed
      --max-traverse-tasks ${MAX_TRAVERSE_TASKS}
      --log-format json
    environment:
      - RUST_LOG=info,indexer=debug,solana_api=debug,db=debug,parse=debug
    ports:
      - 8317:8317
    expose:
      - 8317
    networks:
      - net
    depends_on:
      db_migration:
        condition: service_completed_successfully
      solana:
        condition: service_healthy
    <<: *logging

networks:
  net:
