x-logging: &logging
  logging:
    driver: json-file
    options:
      max-size: 10m
      max-file: "3"

services:
  solana:
    container_name: solana
    image: neonlabsorg/evm_loader:${NEON_EVM_COMMIT}
    environment:
      SOLANA_URL: http://127.0.0.1:8899
    hostname: solana
    networks:
      - net
    expose:
      - 8899
    ports:
      - 8899:8899
    healthcheck:
      # Must be available from outside (calling without -u causes premature result)
      test: [ CMD-SHELL, "./wait-for-neon.sh" ]
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 5s
    entrypoint: /opt/solana-run-neon.sh

  postgres:
    container_name: postgres
    image: postgres:15.3
    command: postgres -c 'max_connections=1000'
    environment:
      POSTGRES_DB: neon-db
      POSTGRES_USER: neon-proxy
      POSTGRES_PASSWORD: neon-proxy-pass
    hostname: postgres
    healthcheck:
      test: [ CMD-SHELL, "pg_isready -h postgres -p 5432" ]
      interval: 3s
      timeout: 3s
      retries: 10
      start_period: 5s
    expose:
      - "5432"
    ports:
      - 5432:5432
    networks:
      - net

  db_migration:
    image: ${DOCKERHUB_ORG_NAME}/${NEON_PROXY_REPO_NAME}:${NEON_PROXY_TAG}
    container_name: db_migration_neon-proxy
    entrypoint: /usr/bin/psql
    command: >-
      -W
      -h postgres
      -p 5432
      -U neon-proxy
      -d neon-db
      -f /opt/data/schemas/scheme.sql
    environment:
      - PGPASSWORD=neon-proxy-pass
    networks:
      - net
    depends_on:
      postgres:
        condition: service_healthy
    <<: *logging

  neon-proxy:
    image: ${DOCKERHUB_ORG_NAME}/${NEON_PROXY_REPO_NAME}:${NEON_PROXY_TAG}
    container_name: neon-proxy
    restart: "always"
    entrypoint: ./proxy
    command: >-
      -l 0.0.0.0:8018
      --pg-url postgres://neon-proxy:neon-proxy-pass@postgres:5432/neon-db
    environment:
      - RUST_LOG=info,indexer=debug,solana_api=debug,db=debug,parse=debug
    depends_on:
      - neon-indexer
    ports:
      - 8018:8018
    expose:
      - 8018
    networks:
      - net
    <<: *logging

  neon-indexer:
    image: ${DOCKERHUB_ORG_NAME}/${NEON_PROXY_REPO_NAME}:${NEON_PROXY_TAG}
    container_name: neon-indexer
    restart: "always"
    entrypoint: ./indexer
    command: >-
      ${NEON_EVM_ADDRESS}
      -u http://solana:8899
      --pg-url postgres://neon-proxy:neon-proxy-pass@postgres:5432/neon-db
      --metrics-addr 0.0.0.0:8317
    environment:
      - RUST_LOG=info,indexer=debug,solana_api=debug,db=debug,parse=debug
    ports:
      - 8317:8317
    expose:
      - 8317
    networks:
      - net
    depends_on:
      db_migration:
        condition: service_completed_successfully
      solana:
        condition: service_healthy
    <<: *logging

networks:
  net:
