[package]
name = "mempool"
version = "0.1.0"
edition = "2021"

[dependencies]
common = { path = '../common', package = "neon-proxy-common" }
executor = { path = '../executor' }
solana-api = { path = '../solana-api' }
neon-api = { path = '../neon-api', features = ["jsonrpsee"] }

# todo: do we need it only for tests?
alloy-signer-wallet.workspace = true
# todo: do we need it only for tests?
alloy-network.workspace = true
alloy-consensus.workspace = true

crossbeam-queue = "0.3.11"
clap = { version = "4.5.4", features = ["derive"] }
dashmap.workspace = true
priority-queue = "2.1.0"
pyth-sdk-solana = "0.9.0"
reth-primitives.workspace = true
serde = { version = "1.0.208", features = ["derive"] }
tokio.workspace = true
tracing.workspace = true
thiserror.workspace = true
futures-util.workspace = true
