[package]
name = "neon-proxy-common"
version = "0.0.0"
edition = "2021"
publish = false

[dependencies]
ethnum = "1.5.0"
solana-sdk = "1.16.18"
solana-transaction-status = "1.16.18"
hex = "0.4"

[dependencies.evm-loader]
git = "https://github.com/neonlabsorg/neon-evm.git"
rev = "v1.7.0"
default-features = false
features = ["async-trait", "no-entrypoint", "serde_json"] 
