[package]
name = "proxy"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
db = { path = "../db" }
common = { path = '../common', package = "neon-proxy-common" }

rpc-api = { git = "https://github.com/paradigmxyz/reth", package = "reth-rpc-api"}
rpc-api-types = { git = "https://github.com/paradigmxyz/reth", package = "reth-rpc-types"}
reth-primitives = { git = "https://github.com/paradigmxyz/reth", package = "reth-primitives"}

sqlx = { version = "0.7", features = ["runtime-tokio", "postgres", "macros"], default-features = false }
jsonrpsee = { version = "0.22", features = ["server"] }
serde_json = "1"
tokio = { version = "1", features = ["full"] }
tracing = "0.1"
tracing-subscriber = "0.3"
clap = { version = "4.5.4", features = ["derive"] }
thiserror = "1.0.60"
hex-literal = "0.4.1"
futures-util = "0.3.30"
